In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv("okcupid_profiles.csv")
df.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [11]:
df.dropna(inplace=True)
df.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
19,33,single,m,straight,athletic,mostly anything,socially,never,graduated from masters program,white,...,i relocated to san francisco half a year ago. ...,"i left my comfort zone far behind in europe, a...","listening, connecting emotionally, analyzing t...","cheerful, open, curious, direct, active, sport...","the art of happiness by dalai lama, how findin...","juicy fruit, water, swimming workouts, yoga pr...",my passions and searching for new ones.,having dinner and a night out with my close fr...,"i'm pretty direct, so you can ask and i'll tel...",you wanna meet up.
22,30,single,m,straight,fit,mostly anything,socially,never,graduated from college/university,white,...,i tend to think the same way a comedian does a...,i'm a supply and demand manager for a sustaina...,"making predictions, planning anything (i'm pre...",that i'm smiling. pretty much at all times.,a confederacy of dunces and infinite jest are ...,"1) sf restaurants, could they be any better? 2...",how to build an empire and a legacy. so far th...,having beers with any number of friends and pr...,when i was a kid i thought steven segal was re...,you're a positive and creative personality loo...
94,29,single,m,straight,fit,mostly anything,socially,sometimes,graduated from college/university,white,...,"my names josh, and i create art for a living. ...",living it,everything,i honestly couldn't say....,-books: anything joseph campbell - osho - terr...,invalid question,the world,out.,no,you're curious.
98,31,single,f,straight,curvy,anything,socially,sometimes,graduated from masters program,white,...,one day i will mod r/hotchickswithspreadsheets...,"presently, holyshitwhatamidoinghere and the sp...","algebra, alliteration, big spoon and little sp...",i look a lot like that chick you banged your f...,- wikipedia - yes - yes - yes - yes,"civility, hope, basic arithmetic, any of the v...","macros. also, puppies. i worry about the futur...","home, high, and doing the dishes.",i'm terrible at small talk which makes for awk...,you find challenge rewarding.

In [31]:
df.drop(['status','sex','essay0','essay1','essay2','essay3','essay4','essay5','essay6','essay7','essay8','essay9'],inplace=True,axis=1)
df.head()

,age,orientation,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks
0,22,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",75.0,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes,english
1,35,straight,average,mostly other,often,sometimes,working on space camp,white,70.0,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no,"english (fluently), spanish (poorly), french (..."
2,38,straight,thin,anything,socially,NaN,graduated from masters program,NaN,68.0,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no,"english, french, c++"
3,23,straight,thin,vegetarian,socially,NaN,working on college/university,white,71.0,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)"
4,29,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",66.0,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no,english

In [38]:
arr_rows=[]
for i in df.values:
    arr_rows.append(" ".join(i.astype('str')))
arr_rows[:5]

["22 straight a little extra strictly anything socially never working on college/university asian, white 75.0 -1 transportation 2012-06-28-20-30 south san francisco, california doesn't have kids, but might want them likes dogs and likes cats agnosticism and very serious about it gemini sometimes english",
 "35 straight average mostly other often sometimes working on space camp white 70.0 80000 hospitality / travel 2012-06-29-21-41 oakland, california doesn't have kids, but might want them likes dogs and likes cats agnosticism but not too serious about it cancer no english (fluently), spanish (poorly), french (poorly)",
 '38 straight thin anything socially nan graduated from masters program nan 68.0 -1 nan 2012-06-27-09-10 san francisco, california nan has cats nan pisces but it doesn&rsquo;t matter no english, french, c++',
 "23 straight thin vegetarian socially nan working on college/university white 71.0 20000 student 2012-06-28-14-22 berkeley, california doesn't want kids likes cats nan pisces no english, german (poorly)",
 '29 straight athletic nan socially never graduated from college/university asian, black, other 66.0 -1 artistic / musical / writer 2012-06-27-21-26 san francisco, california nan likes dogs and likes cats nan aquarius no english']

In [39]:
from nltk.tokenize import RegexpTokenizer
tokenizer=RegexpTokenizer('[a-zA-Z0-9]+')
for i in range(len(arr_rows)):
    arr_rows[i]=" ".join(tokenizer.tokenize(arr_rows[i]))
print(arr_rows[0])

22 straight a little extra strictly anything socially never working on college university asian white 75 0 1 transportation 2012 06 28 20 30 south san francisco california doesn t have kids but might want them likes dogs and likes cats agnosticism and very serious about it gemini sometimes english

In [43]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
tdf=TfidfVectorizer()
v_arr_rows=tdf.fit_transform(arr_rows)

In [44]:
metric_df=cosine_similarity(v_arr_rows[:100])

In [51]:
for i in range(100):
    for j in range(100):
        if metric_df[i][j]>0.5 and i!=j:
            print(i,j)

2 46
18 59
19 31
19 36
19 49
20 78
21 22
22 21
22 37
22 82
28 39
31 19
36 19
36 49
36 52
37 22
39 28
39 91
46 2
47 94
49 19
49 36
52 36
52 83
59 18
78 20
82 22
83 52
84 91
91 39
91 84
94 47